.user-details {
    margin-top: 64px;
    margin-bottom: 44px;
    padding-top: 70px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
}

.user-avatar-circle {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    line-height: 60px;
}

.user-avatar-circle > * {
    line-height: 120px;
    font-size: 40px;
    position: relative !important;
    left: 0 !important;
}

.user-summary {
    text-align: center;
    padding-top: 20px;
}

.user-profile{
    text-align: center;
}

@media (min-width: 576px) {
    .user-details {
        text-align: left;
        display: table;
    }    

    .user-avatar, .user-summary {
        float: left;
        text-align: left;
    }

    .user-summary {
        padding-top: 0;
        padding-left: 40px;
        width: calc(100% - 120px);
    }
}

.user-summary .full-name {
    font-size: 30px;
    font-weight: 600;
    color: rgba(0,0,0,0.85);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.user-summary .username {
    font-size: 20px;
}

.user-summary .user-joined {
    margin-top: 5px;
}

@media (max-width: 768px) {
    .user-summary .full-name {
        font-size: 24px;
    }    
}


.user-avatar-circle2 {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    line-height:3rem;
}

.user-avatar-circle2 > * {
    line-height: 3rem;
    font-size: 1.5rem;
    position: relative !important;
    left: 0 !important;
}

.goBackButton {
    position: fixed;
    bottom: 20%;
    right: 48%; 
}

.tabs {
    margin-left: 10%;
    margin-top: 8%;
    margin-right: 10%;
}

.row {
    margin-top: 2%;
}

.user-avatar-circle-complete-profile {
    width: 175px;
    height: 175px;
    border-radius: 90px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    line-height: 90px;
    left: 15%;
    margin-top: 0% !important;
}

.user-avatar-circle-complete > * {
    line-height: 120px;
    font-size: 40px;
    position: relative !important;
    left: 0 !important;
}

.anticon:before {
    display: block;
    font-family: "anticon" !important;
}