.projectDetails {
    display: grid;
    grid-template-columns: repeat(3,1.2fr);
    grid-auto-rows: 45%;
    grid-column-gap: 45px;
    grid-row-gap: 20px;
}

.details {
    margin-top: 5%;
    left: 0%;
}

.status{
    size: 200px;
    margin-left: 7px;

}

.details-date {
    margin-top: 5%;
    left: -5%;
}

.user-avatar-circle-complete {
    margin-left: -52%;
    margin-top: -10%;
}

.title-pm {
    margin-left: -65%;
    margin-top: 10%;
}

.emai-pm {
    margin-left: -65%;

}

.content-header {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 2px solid #D3D3D3;
    margin-bottom: 2em;
    width: 95%;
}

.user-avatar-circle-complete {
    width: 175px;
    height: 175px;
    border-radius: 90px;
    border: 1px solid rgba(0, 0, 0, 0.144);
    line-height: 90px;
    left: -21%;
    margin-top: -10% !important;
}