.app-footer {
    position: fixed;
    z-index: 99;
    width: 100%;
    text-align: center;
    bottom: 0;
    margin: auto;
    box-shadow: 0 -2px 8px #f0f1f2;
    border-top: 1px solid #e8e8e8;
    padding: 10px 50px;
}

.imageFooter{
    margin: 0 auto;
    width: 8%;
    height: auto;
}

.text {
    font-size: 8px;
    font-weight: 700;
    margin-top: 2px;
}