.content-header {
    font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-bottom: 2px solid #D3D3D3;
    margin-bottom: 2em;
    width: 100% !important;
}

.content-header small{
    color: grey;
    padding-left: 0.5em;
}