.tag-size{

font-size: 300px;

}

.state-title {
    width: 10%;
    text-align: center;
    border: transparent;
    background-color: #f5222d;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    font-weight: 400 !important;
    padding-bottom: 5px;
    padding-top: 5px;
}

.state-title-susp{
    width: 10%;
    text-align: center;
    border: transparent;
    background-color: #949a97;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    font-weight: 400 !important;
    padding-bottom: 5px;
    padding-top: 5px;
}