.ant-popover-inner-content {
    padding: 6px 6px !important;
    font-size: 10px !important;
}

.filter{
    margin-top: 2em;
    margin-left: 1em;
    margin-bottom: 2em;
}

.table{
    margin-left: 1em;
}

